@using Microsoft.AspNetCore.Components.Web
@using Sharecipe_IT15_Project.Models.Entities
@using Sharecipe_IT15_Project.Services
@using Microsoft.AspNetCore.Identity
@using Sharecipe_IT15_Project.Areas.Identity.Data
@using System.Security.Claims;
@inject SignInManager<SharecipeUser> SignInManager
@inject UserManager<SharecipeUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@inject ProfileService profileService

@code {
    private IEnumerable<Post> profilePostList;
    private SharecipeUser user;

    protected override async Task OnInitializedAsync()
    {
        profilePostList = await profileService.GetUserPost();
        string userId = HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        user = await UserManager.FindByIdAsync(userId);
    }
}
@if (profilePostList == null)
{
}
else
{
    @foreach (var post in profilePostList)
    {
        <div class="d-flex flex-column justify-content-start w-100 mx-auto mb-3" style="max-width: 900px">
            <div id="post1" class="bg-white p-4 shadow mt-3 rounded">
                <div class="row d-flex align-items-center text-nowrap">
                    <div class="col-lg-6 d-flex justify-content-start align-items-center">
                        <img src="/ProfileImages/@user.ProfPIc" alt="avatar" class="rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover" />
                        <div class="row">
                            <div class="col">
                                <p class="m-0 fw-bold">@user.FullName</p>
                                <span class="text-muted fs-7">@post.PostTime</span>
                            </div>
                        </div>
                    </div>
                    <div class="col text-end">
                        <i class="fas fa-ellipsis-h" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="post1Menu"></i>
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a href="#" class="dropdown-item d-flex align-items-center justify-content-around fs-7">Edit Post</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="#" class="dropdown-item d-flex align-items-center justify-content-around fs-7">Delete Post</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="mt-3">
                    <div>
                        <p style="font-weight: bold">@post.postCaption</p>
                        <img src="/PostImages/@post.postImage" alt="" class="img-fluid" style="width: 100%" />
                        <div class="ingredients" style="margin-top: 15px">
                            <h5>Ingredients</h5>
                            <ol class="list-group">
                                <li class="list-group-item">@post.postIngredients</li>
                            </ol>
                            <div style="margin-bottom: 20px"></div>
                        </div>
                        <div class="directions">
                            <h5>Directions</h5>
                            <ol class="list-group">
                                <li class="list-group-item">@post.postDirections</li>
                            </ol>
                            <div style="margin-bottom: 20px"></div>
                        </div>
                        <div class="prepTime">
                            <h5>Prep and Cook Time</h5>
                            <ul class="list-group">
                                <li class="list-group-item">@post.prepTime</li>
                            </ul>
                            <div style="margin-bottom: 20px"></div>
                        </div>
                        <div class="serving">
                            <h5>Serving</h5>
                            <ul class="list-group">
                                <li class="list-group-item">@post.serving</li>
                            </ul>
                            <div style="margin-bottom: 20px"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-light" id="likeButton" style="margin-top: 10px; margin-right: 10px">
                        <i class="fas fa-heart" id="likeIcon" style="color: gray; font-size: 1.8rem"></i>
                    </button>
                    <script>
                        let isLiked = false;
                        const likeButton = document.getElementById("likeButton");
                        const likeIcon = document.getElementById("likeIcon");
                        likeButton.addEventListener("click", () => {
                            isLiked = !isLiked;
                            likeIcon.style.color = isLiked ? "red" : "gray";
                        });
                    </script>
                </div>
            </div>
        </div>
    }
}

